[submodule "miraca-book/riskassessment/SystemicRisk"]
	path = miraca-book/riskassessment/SystemicRisk
	url = https://github.com/miracaEU/SystemicRisk

[submodule "miraca-book/background/Exposure_Miraca"]
	path = miraca-book/background/Exposure_Miraca
	url = https://github.com/miracaEU/Exposure_Miraca
[submodule "miraca-book/background/CBAmodelling"]
	path = miraca-book/background/CBAmodelling
	url = https://github.com/miracaEU/CBAmodelling
[submodule "miraca-book/background/RoadFlowModelling"]
	path = miraca-book/background/RoadFlowModelling
	url = https://github.com/miracaEU/RoadFlowModelling
[submodule "miraca-book/usecases/UC4"]
	path = miraca-book/usecases/UC4
	url = https://github.com/miracaEU/UC4.git
[submodule "miraca-book/background/Vulnerability"]
	path = miraca-book/background/Vulnerability
	url = https://github.com/miracaEU/Vulnerability_Miraca.git
[submodule "miraca-book/usecases/UC3"]
	path = miraca-book/usecases/UC3
	url = https://github.com/miracaEU/UC3
